<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sistema Administrativo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="container mt-5">
        <div class="alert alert-info display-1 text-center">RESERVAS RESTAURANTE INACAP

        </div>
        <div class="row">
        <div class="col"><a href="/reservas" class="btn p-2 btn-info w-100"><text class="fs-1" >RESERVAS</text></a></div>
        <div class="col"><a href="/agregarReserva" class="btn p-2 btn-success w-100"><text class="fs-1" >AGREGAR RESERVA</text></a></div>
        </div>
    </body>
</html>